<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.chatterbox.chatterbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.ChatterBoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_api_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- app introduction -->
        <activity
            android:name=".ui.entry.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.entry.IntroduceMe" />

        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait"/>

        <!-- LOGIN SIGN UP FRAGMENTS -->
        <activity
            android:name=".ui.auth.login.LogSignActivity"
            android:configChanges="screenSize|orientation">
        </activity>

        <!-- sign in activity -->


        <!-- Home activity -->
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|screenSize" />

        <!-- main activity -->
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="com.chatterbox.chatterbox.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Reset User password -->
        <activity
            android:name=".ui.auth.ResetPasswordActivity"
            android:configChanges="orientation|screenSize" />

        <!-- SERVICES -->
        <service
            android:name=".services.ChatterBoxMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ChatterBoxInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

    </application>

</manifest>